@model BASMockSite.ViewModels.Degree.DegreesListViewModel

@*
    ViewBag.DegreeCourseModels
    ViewBag.DegreeProgramEntry
*@

@foreach (var degree in Model.Degrees)
{
    <div class="degree-container col-md-12 col-lg-6">
        <div class="degree-titlebar">
            @Html.DisplayFor(m => degree.Title)
            <br />
            <a href="@degree.ProgramURL">Check out the program page</a>
            <div style="float: right">
                @Html.DisplayFor(m => degree.ProgramDuration)
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 degree-summary">
            @Html.DisplayFor(m => degree.Description)
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 degree-details">
            @{ var school = Model.Schools.Where(s => s.SchoolID == degree.School.SchoolID).SingleOrDefault();}
            @Html.DisplayFor(m => school.Name)
            <br />
            Course Model(s): 
            @{ 
                List<CourseModel> cModels = Model.CourseModels.Where(cm => cm.Degree.DegreeID == degree.DegreeID).ToList();
            }
            @for (int i = 0; i < cModels.Count(); i++)
            {
                @Html.DisplayFor(m => cModels[i].Structure)
                if (i < cModels.Count - 1)
	            {
                    @Html.Raw("&nbsp;/&nbsp;")
                }
            }
            @{  var projManager = Model.ProgramManagers.Where(pm => pm.ManagerID == degree.ProgramManager.ManagerID).SingleOrDefault();}
            <br />
            Contact @Html.DisplayFor(m => projManager.Email) for more details.
        </div>
        <div class="row">
            <a asp-action="Edit" asp-route-id="@degree.DegreeID">Edit</a>
        </div>
    </div>
}
@*<div class="panel panel-default">
    <h4>@Html.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>*@

