@model IEnumerable<BASMockSite.ViewModels.Degree.DegreesListViewModel>


@foreach (var degree in Model)
{
    //List<ProgramEntry> cStructure = (ViewBag.EntryStructures as List<ProgramStructure>).Where(ps => ps.ProgramEntrylID == degree.ProgramEntries.).ToList();
    @*@{ 
        List<ProgramStructure> cstructures;
        foreach (var strcu in cStructure)
        {
            cstructures = strcu.Structures.ToList();
        }
         }*@

    <div class="degree-container col-md-12 col-lg-6">
        <div class="degree-titlebar">
            @Html.DisplayFor(m => degree.DegreeName)
            <br />
            <a href="@degree.ProgramURL">Check out the program page</a>
            <div style="float: right">
                @Html.DisplayFor(m => degree.SchoolName)
            </div>
        </div>
        <div class="col-xs-12 col-md-7 col-lg-7 degree-summary">
            @Html.DisplayFor(m => degree.DegreeDescription)
        </div>
        <div class="col-xs-12 col-md-5 col-lg-5 degree-details">            
            <div class="col-xs-12">
                @for (int i = 0; i < degree.ProgramEntries.Count(); i++)
                {
                    @:Entry Season:
                    <span style="text-align:center; font-weight:600">@degree.ProgramEntries[i].Season.GetDisplayName()</span>
                    <br />
                    @Html.Raw("Attendance Structure:");
                    <br />
                    int j = 0;
                    foreach (var ps in degree.ProgramEntries[i].Structures)
                    {
                        @ps.Structure.GetDisplayName();
                        if (j < degree.ProgramEntries[i].Structures.Count() - 1)
                        {
                            @Html.Raw("&nbsp;/&nbsp;")
                        }
                        j++;
                    }
                    <br />
                }
            </div>
            Contact @Html.DisplayFor(m => degree.ProgramManagerName) for more details.
        </div>
        <div class="row">
            <a asp-action="Edit" asp-route-id="@degree.DegreeID">Edit</a>
        </div>
    </div>
}
@*<div class="panel panel-default">
    <h4>@Html.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>*@

