@model IEnumerable<BASMockSite.Models.College>


@foreach (var school in Model)
{
    <div class="college-collapseables">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading bgsuccess">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="@("#college" + school.CollegeID)">@Html.DisplayFor(s => school.Name)</a>
                    </h4>
                </div>
                <div id="@("college" + school.CollegeID)" class="panel-collapse collapse">
                    <div class="panel-body" style="margin-left:0; padding-left: 8px; padding-right: 8px;">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="@school.HomeWebAddress">
                                    <img class="college-logo" src="@Url.Action("GetSchoolLogo", "Schools", new { schoolID = school.CollegeID })" alt="School Logo" />
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <p>
                                    @Html.DisplayFor(s => school.Address)<br />
                                    @Html.DisplayFor(s => school.City), @Html.DisplayFor(s => school.State)<br />
                                    @Html.DisplayFor(s => school.Zip)
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="college-details-contact">
                                    <span class="college-phone">@school.MainPhone</span>
                                    <br />
                                    @if (school.HomeWebAddress.Substring(0, 7).ToLower() != "http://")
                                    {
                                        string collegeLink = "http://" + @school.HomeWebAddress;
                                        <a href="@collegeLink">Home Page</a>
                                    }
                                    else
                                    {
                                        <a href="@school.HomeWebAddress">Home Page</a>
                                    }

                                </p>
                            </div>
                            <div class="col-xs-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="college-info col-xs-12 col-sm-8 col-md-12 col-lg-12">
                                <div class="college-description">
                                    @Html.DisplayFor(s => school.Description)
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <h4>Availible Degrees:</h4>
                            @foreach (Degree deg in school.Degrees)
                            {
                                <span class="col-xs-12">
                                    <a href="@deg.ProgramURL">@Html.DisplayFor(d => deg.Name)</a>                                    
                                </span>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}