@using BASMockSite.ViewModels.Administration

@model string
@{
    ViewData["Title"] = "Admin Menu";
}

<div class="page-header">
    <h2 style="text-align:center;">Welcome to the admin panel @Model</h2>
    <p>
        Admins - Use this page to manage roles and users, and associate users with their proper name for BAS Managers.
    </p>
</div>

@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong>
        @ViewBag.SuccessMsg
    </div>
}
else if (ViewBag.FailMsg != null)
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Uh oh!</strong>
        @ViewBag.FailMsg
    </div>
}

@Component.Invoke("CreateRemoveRole")
@Component.Invoke("AddRemoveUserRole")
@Component.Invoke("RegisterUser")
@Component.Invoke("SetUsersManagerID")
@Component.Invoke("RemoveUser")

<div style="text-align: right;">
    <br /><br />
    <p>Page currently in development*</p>
</div>
